$family: 'Courgette', cursive;

$blanco: #ffffff;
$negro: #000000;

$color_ligth_principal: #FF9500;
$color_ligth_secundario: #FFDC9B;

$color_dark_principal: #6C3604;
$color_dark_secundario: #3D2005;

$color_tareaCompletadaClaro: #00fe1c;
$color_tareaCompletadaOscuro: #019411;

$color_pendiente: #f2eb0a;

$color_tareaUrgenteClaro: #ff002c;
$color_tareaUrgenteOscuro: #900000; 

$font_18: 18px;
$font_20: 20px;

$sombra: 0px 4px 4px 4px rgba(0,0,0,0.25);
$sombra_btn: 1px 6px 15px -2px rgba(0,0,0,0.25);