$family: 'Courgette', cursive;

$blanco: #ffffff;
$negro: #000000;

$color_ligth_principal: #FF9500;
$color_ligth_secundario: #FFDC9B;

$color_dark_principal: #6C3604;
$color_dark_secundario: #3D2005;

$color_tareaCompletada: #66CB05;
$color_tareaUrgente: #DD0808;

$sombra: 0px 4px 4px 4px rgba(0,0,0,0.25);